name: Verify action inputs handling
on:
  - push
  - workflow_dispatch
jobs:
  catch-unsafe-vm-name:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        vm-name:
          - A
          - $PWD
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://cloud-images.ubuntu.com/releases/noble/release/ubuntu-24.04-server-cloudimg-amd64.img
          vm-name: ${{ matrix.vm-name }}
        id: virt-install
        continue-on-error: true
      - run: echo '${{ steps.virt-install.outcome }}'
      - name: Check that the action caught the inputs.vm-name
        if: steps.virt-install.outcome == 'failure'
        run: true
      - name: Fail if the action did not catch the inputs.vm-name
        if: steps.virt-install.outcome == 'success'
        run: false
