name: Upterm session
on:
  - push
  - workflow_dispatch
jobs:
  upterm-session:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v2
    - name: Setup upterm session
      uses: owenthereal/action-upterm@v1
