name: Create virtual machine
on:
  push:
    branches:
      - '*'
  workflow_dispatch:
    inputs:
      disk-url:
        description: URL of disk to use
      vm-name:
        description: Name of the VM (libvirt domain)
        default: vm1.example.com
      osinfo:
        description: The osinfo parameter to virt-install
        default: generic
      command:
        description: Command to run in the VM

jobs:
  virt-install-almalinux:
    runs-on: ubuntu-latest
    if: inputs.disk-url == ''
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://repo.almalinux.org/almalinux/10.1/cloud/x86_64/images/AlmaLinux-10-GenericCloud-10.1-20251125.0.x86_64.qcow2
          osinfo: almalinux10
      - run: ssh root@vm1.example.com cat /etc/os-release
      - run: ssh root@vm1.example.com ip a
      - run: sudo apt install xsltproc
      - run: |
          virsh --connect qemu:///session dumpxml vm1.example.com \
            | xsltproc util/secure-boot-check.xslt - | tee /dev/stderr \
            | grep -Fq secure-boot=yes,enrolled-keys=yes
        shell: bash -euo pipefail {0}
  virt-install-fedora:
    runs-on: ubuntu-latest
    if: inputs.disk-url == ''
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://download.fedoraproject.org/pub/fedora/linux/releases/42/Cloud/x86_64/images/Fedora-Cloud-Base-Generic-42-1.1.x86_64.qcow2
          vm-name: fedora-42.example.test
          osinfo: fedora42
      - run: ssh root@fedora-42.example.test cat /etc/os-release
      - run: ssh root@fedora-42.example.test dnf install -y net-tools
      - run: ssh root@fedora-42.example.test netstat -ln
      - run: sudo apt install xsltproc
      - run: |
          virsh --connect qemu:///session dumpxml fedora-42.example.test \
            | xsltproc util/secure-boot-check.xslt - | tee /dev/stderr \
            | grep -Fq secure-boot=yes,enrolled-keys=yes
        shell: bash -euo pipefail {0}
      - run: curl -LO https://download.fedoraproject.org/pub/fedora/linux/releases/43/Cloud/x86_64/images/Fedora-Cloud-Base-Generic-43-1.6.x86_64.qcow2
      - uses: ./
        with:
          disk-url: file://${{ github.workspace }}/Fedora-Cloud-Base-Generic-43-1.6.x86_64.qcow2
          vm-name: fedora-43.example.test
          osinfo: fedora42
      - run: ssh root@fedora-43.example.test cat /etc/os-release
      - run: sudo apt install xsltproc
      - run: |
          virsh --connect qemu:///session dumpxml fedora-43.example.test \
            | xsltproc util/secure-boot-check.xslt - | tee /dev/stderr \
            | grep -Fq secure-boot=yes,enrolled-keys=yes
        shell: bash -euo pipefail {0}
  virt-install-ubuntu:
    runs-on: ubuntu-latest
    if: inputs.disk-url == ''
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://cloud-images.ubuntu.com/releases/noble/release/ubuntu-24.04-server-cloudimg-amd64.img
          vm-name: ubuntu.example.test
          osinfo: ubuntu24.04
      - run: ssh root@ubuntu.example.test cat /etc/os-release
      - run: virsh dumpxml ubuntu.example.test
      - run: sudo apt install xsltproc
      - run: |
          virsh --connect qemu:///session dumpxml ubuntu.example.test \
            | xsltproc util/secure-boot-check.xslt - | tee /dev/stderr \
            | grep -Fq secure-boot=yes,enrolled-keys=yes
        shell: bash -euo pipefail {0}
      - uses: ./
        with:
          disk-url: https://cloud-images.ubuntu.com/releases/noble/release/ubuntu-24.04-server-cloudimg-amd64.img
          vm-name: ubuntu-2.example.test
          osinfo: ubuntu24.04
        id: run-ubuntu-2
      - run: ssh root@ubuntu-2.example.test cat /etc/os-release
      - run: ssh root@ubuntu.example.test 'ssh-keygen -N "" -f ~/.ssh/id_rsa'
      - run: ssh root@ubuntu.example.test 'cat ~/.ssh/id_rsa.pub' | ssh root@ubuntu-2.example.test 'umask 077 && cat > ~/.ssh/authorized_keys'
      - run: ssh root@ubuntu.example.test "ssh -o 'StrictHostKeyChecking accept-new' root@${{ steps.run-ubuntu-2.outputs.ip-address }} ip a"
      - run: sudo apt install xsltproc
      - run: |
          virsh --connect qemu:///session dumpxml ubuntu-2.example.test \
            | xsltproc util/secure-boot-check.xslt - | tee /dev/stderr \
            | grep -Fq secure-boot=yes,enrolled-keys=yes
        shell: bash -euo pipefail {0}

  virt-install-manual:
    runs-on: ubuntu-latest
    if: inputs.disk-url != ''
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: ${{ inputs.disk-url }}
          vm-name: ${{ inputs.vm-name }}
          osinfo: ${{ inputs.osinfo }}
      - run: ssh root@'${{ inputs.vm-name }}' "$INPUT_COMMAND"
        if: inputs.command != ''
        env:
          INPUT_COMMAND: ${{ inputs.command }}
      - run: sudo apt install xsltproc
      - run: |
          virsh --connect qemu:///session dumpxml '${{ inputs.vm-name }}' \
            | xsltproc util/secure-boot-check.xslt -
        shell: bash -euo pipefail {0}
