name: Create virtual machine
on:
  - push
  - workflow_dispatch
jobs:
  virt-install-almalinux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://repo.almalinux.org/almalinux/10.1/cloud/x86_64/images/AlmaLinux-10-GenericCloud-10.1-20251125.0.x86_64.qcow2
      - run: ssh root@vm1.example.com cat /etc/os-release
      - run: ssh root@vm1.example.com ip a
  virt-install-fedora:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://download.fedoraproject.org/pub/fedora/linux/releases/43/Cloud/x86_64/images/Fedora-Cloud-Base-Generic-43-1.6.x86_64.qcow2
          vm-name: fedora.example.test
          osinfo: fedora41
      - run: ssh root@fedora.example.test cat /etc/os-release
      - run: ssh root@fedora.example.test dnf install -y net-tools
      - run: ssh root@fedora.example.test netstat -ln
  virt-install-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          disk-url: https://cloud-images.ubuntu.com/releases/noble/release/ubuntu-24.04-server-cloudimg-amd64.img
          vm-name: ubuntu.example.test
          osinfo: ubuntu24.04
      - run: ssh root@ubuntu.example.test cat /etc/os-release
      - run: virsh dumpxml ubuntu.example.test
